  
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
 :root{
    --bg-theme-dark:var(#00b712);
    --bg-theme:var(#52c234);

    --text-color:#fff;
    --text-color-muted:var(#ccc);

    --bg-black:#222;

}
*{
	box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif !important;
	margin-top: 50px !important;
}

::-webkit-scrollbar{
    width: 7px;
}

::-webkit-scrollbar-thumb{
    background:#222;

}
::-webkit-scrollbar-track{
    background:#fff;
}

/*Navbar*/
.navbar-dark{
    background: var(--bg-black) !important;
}

.nav-link{
    color:var(--text-color) ;
	
}
.nav-item{
	margin-right: 1rem !important;;
}
.nav-item a{
	color:#fff !important;
	display: block;

}
.navbar-nav .dropdown-menu a{
	color:#333 !important;
}
@media screen and (max-width:768px){
	.nav-item a{
		text-align: center;
		
	}
	.navbar-nav{
		margin-top: 0.2em;
	}
	.navbar-nav li {
		background-color: #333 !important;
	}
	.navbar-nav .dropdown-menu{
		background-color: #333;
		border:none;
	}

	.navbar-nav .dropdown-menu .dropdown-item{
		background-color: #fff !important;
		padding:0.4em 0;
		margin-top:0.2em;
	}

}


/*Login systm*/
#login_panels{
	font-family:'Montserrat','sans-serif' !important;
	background-color: #f6f5f7;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items: center;
	height:100vh;
	
}
#login_panels h1{
	font-weight: bold;
	margin:0;
}
#login_panels p{
	font-size:0.8em;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin:20px 0 30px;
}
#login_panels span{
	font-size:0.8em;
}
#login_panels a{
	color:#333;
	font-size:0.9em;
	text-decoration: none;

}
#login_panels .container{
	background:#fff;
	border-radius: 10px;
	box-shadow:0 14px 28px rgba(0,0,0,0.25),0 10px 10px rgba(0,0,0,0.22);
	position:relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
}
#login_panels form{
	background:#fff;
	display:flex;
	flex-direction:column;
	padding:0 50px;
	height:100%;
	justify-content:center;
	align-items:center;
	text-align:center;
}


#login_panels .social-container
{
	margin:20px 0;
}
#login_panels .social-container a {
	border:1px solid #ddd;
	border-radius:50%;
	display:inline-flex;
	justify-content: center;
	margin:0 5px;
	align-items: center;
	height:40px;
	width:40px;
}

#login_panels .form-container input{
	background-color: #eee;
	border:none;
	padding:0.8em 0.9em;
	margin:8px 0;
	width:100%;
}

#login_panels button {
	border-radius:1.2rem;
	border:none;
    background-image:linear-gradient(to right,#00b712,#00b712)  !important; 
	color:#fff;
	font-size:12px;
	font-weight:bold;
	padding:12px 45px;
	letter-spacing: 1px;
	text-transform:uppercase;
	transition:transform 80ms ease-in;
	border:1px solid #fff;
}
#login_panels button:active{
	transform:scale(0.95);
}
#login_panels button:focus{
	outline:none;/* dıştaki kare şeklinde çirkin kenarlıkları kaldırır */
}
#login_panels button.ghost{
	background:transparent;
	border-color:#fff;
}
#login_panels .form-container{
	position:absolute;
	top:0;
	height:100%;
	transition:all 0.6s ease-in-out;
}

#login_panels .sign-in-container {
	left:0;
	width:50%;
	z-index:2;
}

#login_panels .sign-up-container{
	left:0;
	width:50%;
	opacity:0;
	z-index:1;
}

#login_panels .overlay-container{
	position:absolute;
	top:0;
	left:50%;
	width:50%;
	height:100%;
	overflow:hidden;
	transition:transform 0.6s ease-in-out;
	z-index:100;
}
#login_panels .overlay{
	background: #ff416c;
	background:linear-gradient(to right,#00b712,#00b712) no-repeat 0 0 /  cover  !important; 
	color:#fff;
	position:relative;
	left:-100%;
	height:100%;
	width:200%;
	transform:translateX(0);
	transition:transform 0.6s ease-in-out;
}

#login_panels .overlay-panel {
	position:absolute;
	top:0;
	display:flex;
	flex-direction: column;
	justify-content:center;
	align-items: center;
	padding:0 40px;
	height:100%;
	width:50%;
	text-align: center;
	transform:translateX(0);
	transition:transform 0.6s ease-in-out;

}

#login_panels .overlay-right{
	right:0;
	transform:translateX(0);
}

#login_panels .overlay-left{
	transform:translateX(-20%);
}
/*Animations*/

/*Move signign to the right*/
#login_panels .container.right-panel-active .sign-in-container{
	transform:translateX(100%);
}
/*Move overlay to left*/
#login_panels  .container.right-panel-active .overlay-container{
	transform:translateX(-100%);
}

/*Brin sign up over sign in*/
#login_panels .container.right-panel-active .sign-up-container{
	transform: translateX(100%);
	opacity:1;
	z-index:5;
}

/*Move overlay back to right*/
#login_panels .container.right-panel-active .overlay{
	transform:translateX(50%);
}
#login_panels .container.right-panel-active .overlay-left{
	transform:translateX(0);
}
#login_panels .container.right-panel-active .overlay-right{
	transform:translateX(20%);
}

@media screen and (max-width:600px) {
#login_panels h1{
	font-size: 1.4em;
}
#login_panels button{
	font-size: 0.5em;
}
#login_panels .social-container{
	display: none;
}
#login_panels span{
	font-size: 0.6rem;
}
#login_panels form a{
	font-size: 0.8rem;
}
}
/*Slider*/
.carousel-container{
    background-image:linear-gradient(to right,#00b712,#00b712)  !important; 
    height: 150px;


}
@media screen and (max-width:678px){
	.carousel-item h1 {
		font-size: 1.2rem !important;
	}
	.carousel-item p {
		font-size:0.8rem !important;
	}
	#carouselExampleIndicators{
		height:24em !important;
	}
}
/*Cards */

.products .card-body{
    background-image:linear-gradient(to right,#00b712,#04a714)  !important; 
    color:var(--bg-black) !important;
    border-radius: 10px;
    box-shadow: 5px 5px 20px #00b712;
    color:var(--text-color) !important;
}

.shadow
{
    box-shadow:0px 5px 10px rgba(0,0,0,.2);
}

/*Buttons*/
.btn-success{
    border-radius:0.6rem !important;
    background-color: var(--bg-black) !important;
    border: 1px solid #fff !important;
}

.btn-success:hover{
    background-color: #333 !important;
}

.btn-custom{
	color:#fff !important;
	border:1px solid #fff !important;
}
/*price*/
.price-text{
    font-size: 3rem !important;
}


.travelling-notes .card{
    background-color: #222;
    box-shadow: 5px 5px 25px #222;
    
}

#carouselExampleIndicators{
	position: relative;
	height: 100vh;
	width: 100%;
}
#carouselExampleIndicators .carousel-inner{
	position: relative;
	height: 100%;
	width: 100%;
	background: #000;
}
#carouselExampleIndicators .carousel-inner:before{
	position: absolute;
	content: '';
	background: rgba(0, 0, 0, 0.45);
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
}
#carouselExampleIndicators .carousel-inner .carousel-item{
	position: relative;
	height: 100%;
	width:100%;
	background: url('https://images.pexels.com/photos/24698/pexels-photo-24698.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
	background-size: 100% 100%;
	background-position: center;
	background-attachment: fixed;
}
#carouselExampleIndicators .carousel-inner .carousel-item:nth-child(2){
	background: url('https://images.pexels.com/photos/7437939/pexels-photo-7437939.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
	background-size: 100% 100%;
	background-position: center;
	background-attachment: fixed;
}
#carouselExampleIndicators .carousel-inner .carousel-item:nth-child(3){
	background: url('https://images.pexels.com/photos/7009483/pexels-photo-7009483.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
	background-size: 100% 100%;
	background-position: center;
	background-attachment: fixed;
}

#carouselExampleIndicators .carousel-inner .carousel-item .info{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	height: auto;
	width: 100%;
	z-index: 1;
	text-align: center;
}
#carouselExampleIndicators .carousel-inner .carousel-item h1{
	height: auto;
	color: #fff;
	width: 100%;
	z-index: 1;
	text-align: center;
	font-size: 5.5em;
	font-weight: 750;
}
#carouselExampleIndicators .carousel-inner .carousel-item p{
	height: auto;
	color: #ccc;
	width: 100%;
	z-index: 1;
	text-align: center;
	font-size: 1.2em;
	font-weight: 500;
}

/*Whatsapp*/



/*WP*/
/* for desktop */
.whatsapp_float {
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
        font-size:30px;
	box-shadow: 2px 2px 3px #999;
        z-index:100;
}

.whatsapp-icon {
	margin-top:16px;
}
/* for mobile */
@media screen and (max-width: 767px){
     .whatsapp-icon {
	 margin-top:10px;
     }
    .whatsapp_float {
        width: 40px;
        height: 40px;
        bottom: 20px;
        right: 10px;
        font-size: 22px;
    }
}

/*Reader*/
.container-reader{
	position:fixed;
	top:120px;
	left:25%;
	height: 400px;
	width:50%;
	margin:0 auto;
	z-index: 5;
	border:1px solid #333;
	background:var(--bg-black);
	overflow:auto;
	box-shadow: 5px 5px 30px #333;
}
.container-reader .jumbotron {
	height:25%;
	margin:12px;
	box-shadow: 5px 5px 3px #999;
    background-image:linear-gradient(to right,#00b712,#04a714)  !important; 
	color:#ddd;	
}
.container-reader .jumbotron h4 {
	font-size: 2rem;
	margin-top:-15px;
}

.container-reader .content {
	padding:15px;
	color:#ddd;

}
@media screen and (max-width:689px) {
	.content h4 {
		font-size: 8px !important;
	}
	.content p{
		font-size:12px !important;
	}

}