  
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

 :root{
    --bg-theme-dark:var(#00b712);
    --bg-theme:var(#52c234);

    --text-color:#fff;
    --text-color-muted:var(#ccc);

    --bg-black:#222;

}

body {
    font-family: 'Open Sans', sans-serif !important;
	margin-top: 50px !important;
}

::-webkit-scrollbar{
    width: 7px;
}

::-webkit-scrollbar-thumb{
    background:#222;

}
::-webkit-scrollbar-track{
    background:#fff;
}

/*Navbar*/
.navbar-dark{
    background: var(--bg-black) !important;
}

.nav-link{
    color:var(--text-color) ;
	
}
.nav-item{
	margin-right: 1rem !important;;
}
.nav-item a{
	color:#fff !important;
	display: block;

}
.navbar-nav .dropdown-menu a{
	color:#333 !important;
}
@media screen and (max-width:768px){
	.nav-item a{
		text-align: center;
		
	}

	.navbar-nav li {
		background-color: #333 !important;
		border-radius: 0.5rem 0;
		margin:5px 0;
	}
	.navbar-nav .dropdown-menu{
		background-color: #333;
		border:none;
	}

	.navbar-nav .dropdown-menu .dropdown-item{
		background-color: #fff !important;
		padding:0.8em 0;
		border-radius: 1em;
		margin:0.5em;
	}

}
/*Slider*/
.carousel-container{
    background-image:linear-gradient(to right,#00b712,#00b712)  !important; 
    height: 150px;

}
/*Cards */

.products .card-body{
    background-image:linear-gradient(to right,#00b712,#04a714)  !important; 
    color:var(--bg-black) !important;
    border-radius: 10px;
    box-shadow: 5px 5px 20px #00b712;
    color:var(--text-color) !important;
}

.shadow
{
    box-shadow:0px 5px 10px rgba(0,0,0,.2);
}

/*Buttons*/
.btn-success{
    border-radius:0.6rem !important;
    background-color: var(--bg-black) !important;
    border: 1px solid #fff !important;
}

.btn-success:hover{
    background-color: #333 !important;
}

.btn-custom{
	color:#fff !important;
	border:1px solid #fff !important;
}
/*price*/
.price-text{
    font-size: 3rem !important;
}


.travelling-notes .card{
    background-color: #222;
    box-shadow: 5px 5px 25px #222;
    
}

#carouselExampleIndicators{
	position: relative;
	height: 100vh;
	width: 100%;
}
#carouselExampleIndicators .carousel-inner{
	position: relative;
	height: 100%;
	width: 100%;
	background: #000;
}
#carouselExampleIndicators .carousel-inner:before{
	position: absolute;
	content: '';
	background: rgba(0, 0, 0, 0.45);
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
}
#carouselExampleIndicators .carousel-inner .carousel-item{
	position: relative;
	height: 100%;
	width:100%;
	background: url('https://images.pexels.com/photos/24698/pexels-photo-24698.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
	background-size: 100% 100%;
	background-position: center;
	background-attachment: fixed;
}
#carouselExampleIndicators .carousel-inner .carousel-item:nth-child(2){
	background: url('https://images.pexels.com/photos/7437939/pexels-photo-7437939.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
	background-size: 100% 100%;
	background-position: center;
	background-attachment: fixed;
}
#carouselExampleIndicators .carousel-inner .carousel-item:nth-child(3){
	background: url('https://images.pexels.com/photos/7009483/pexels-photo-7009483.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
	background-size: 100% 100%;
	background-position: center;
	background-attachment: fixed;
}

#carouselExampleIndicators .carousel-inner .carousel-item .info{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	height: auto;
	width: 100%;
	z-index: 1;
	text-align: center;
}
#carouselExampleIndicators .carousel-inner .carousel-item h1{
	height: auto;
	color: #fff;
	width: 100%;
	z-index: 1;
	text-align: center;
	font-size: 5.5em;
	font-weight: 750;
}
#carouselExampleIndicators .carousel-inner .carousel-item p{
	height: auto;
	color: #ccc;
	width: 100%;
	z-index: 1;
	text-align: center;
	font-size: 1.2em;
	font-weight: 500;
}

